body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d8b9ff;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Usar min-height en lugar de height para que se expanda según el contenido */
}

#menuPrincipal {
  text-align: center;
}

#tablaPuntuaciones {
  width: 100%; /* Cambiar el ancho al 100% para que se ajuste al contenedor */
  margin-bottom: 40px;
}

form {
  margin-bottom: 20px;
  margin-top: 20px;
}

#juego {
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.jugador {
  margin-bottom: 10px;
}

#tablaPuntuaciones {
  width: 100%; /* Cambiar el ancho al 100% para que se ajuste al contenedor */
  border-collapse: collapse;
  background-color: white;
  margin-bottom: 20px;
}

#tablaPuntuaciones th,
#tablaPuntuaciones td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  #tablaPuntuaciones,
  #cartonJugador {
      max-width: 20%; /* Establecer un ancho máximo */
      margin: 0 auto; /* Centrar horizontalmente */
  }
}
  
  